.small-image {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Ensures the image is a block element */
  margin: 20px auto; /* Centers the image horizontally */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: center; /* Centers the navigation links */
  margin: 20px 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
.scrolling-text-bar {
  background-color: #ffeb3b; /* Bright yellow background for attention */
  color: #000; /* Black text for contrast */
  font-size: 16px; /* Text size */
  padding: 10px 0; /* Padding for better spacing */
  text-align: center; /* Center the text */
  border-top: 2px solid #fbc02d; /* Optional border for design */
  border-bottom: 2px solid #fbc02d; /* Optional border for design */
  overflow: hidden; /* Ensure proper rendering of marquee */
}

marquee {
  display: block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


iframe {
  border: none;
}

input[type="radio"], textarea {
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Results {
  margin-top: 20px;
}

.Results p {
  margin: 5px 0;
}
.events-container {
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

li h3 {
  margin: 0 0 10px 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
